body{
  background-image: url('../Images/arcade.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family:'VT323', monospace;;
}
#pong{
  text-align: center;
  margin-top:10px;
}
#pacman{
  max-width:100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#pacman:hover{
  opacity:.5;
}
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: hidden; Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height:auto;
  line-height: 1.6;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
p{
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}